[Desktop Entry]
Name=Godot Engine
GenericName=Libre game engine
Comment=Multi-platform 2D and 3D game engine with a feature-rich editor
Exec=godot %f --rendering-driver opengl3
Icon=godot
Terminal=false
PrefersNonDefaultGPU=true
Type=Application
MimeType=application/x-godot-project;
Categories=Development;IDE;
StartupWMClass=Godot
X-XFCE-Source=file:///usr/share/applications/godot.desktop
Path=
StartupNotify=false
